<div id="confirmationToast" hx-swap-oob="true">
    <div class="toast" role="alert" aria-live="polite" aria-atomic="true">
        <div class="toast-header">
            <span style="flex-basis: 100%;">
                {{#if title}}
                {{title}}
                {{else}}
                Confirmation
                {{/if}}
            </span>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{{message}}}
        </div>
    </div>
</div>
